In [1]:
import pandas as pd
from sklearn.svm import SVC
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import classification_report, confusion_matrix
from sklearn.model_selection import train_test_split
import time
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.tree import DecisionTreeClassifier
import warnings

In [2]:
filepath = 'iot23_18column.csv'

In [3]:
df = pd.read_csv(filepath)

In [4]:
del df['Unnamed: 0']

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1444630 entries, 0 to 1444629
Data columns (total 18 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   ts             1444630 non-null  int64
 1   uid            1444630 non-null  int64
 2   id.orig_h      1444630 non-null  int64
 3   id.orig_p      1444630 non-null  float64
 4   id.resp_h      1444630 non-null  int64
 5   id.resp_p      1444630 non-null  float64
 6   proto          1444630 non-null  int64
 7   duration       544530 non-null   float64
 8   orig_bytes     544530 non-null   float64
 9   resp_bytes     544530 non-null   float64
 10  conn_state     1444630 non-null  int64
 11  missed_bytes   1444630 non-null  float64
 12  history        1444630 non-null  int64
 13  orig_pkts      1444630 non-null  float64
 14  orig_ip_bytes  1444630 non-null  float64
 15  resp_pkts      1444630 non-null  float64
 16  resp_ip_bytes  1444630 non-null  float64
 17  label          1444630 non-null  int64
dtypes: float64(10), int64(8)
memory usage: 198.4 MB

In [6]:
df

,ts,uid,id.orig_h,id.orig_p,id.resp_h,id.resp_p,proto,duration,orig_bytes,resp_bytes,conn_state,missed_bytes,history,orig_pkts,orig_ip_bytes,resp_pkts,resp_ip_bytes,label
0,2,317928,1360,60905.0,127613,23.0,1,2.998796,0.0,0.0,6,0.0,16,3.0,180.0,0.0,0.0,5
1,3,456812,1360,44301.0,1061392,23.0,1,NaN,NaN,NaN,6,0.0,16,1.0,60.0,0.0,0.0,5
2,4,517496,1360,50244.0,83457,23.0,1,NaN,NaN,NaN,6,0.0,16,1.0,60.0,0.0,0.0,5
3,6,961436,1360,34243.0,205149,49560.0,1,2.998804,0.0,0.0,6,0.0,16,3.0,180.0,0.0,0.0,0
4,7,174466,1360,34840.0,195147,21288.0,1,NaN,NaN,NaN,6,0.0,16,1.0,60.0,0.0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1444625,399991,528199,1362,41762.0,726752,23.0,1,NaN,NaN,NaN,6,0.0,16,1.0,40.0,0.0,0.0,5
1444626,399992,1347706,1362,58758.0,608725,23.0,1,NaN,NaN,NaN,6,0.0,16,1.0,40.0,0.0,0.0,5
1444627,399993,282742,1362,40400.0,802205,23.0,1,NaN,NaN,NaN,6,0.0,16,1.0,40.0,0.0,0.0,5
1444628,399994,99987,1362,27117.0,95351,23.0,1,NaN,NaN,NaN,6,0.0,16,1.0,40.0,0.0,0.0,5
1444629,399995,104339,1362,23227.0,439275,23.0,1,NaN,NaN,NaN,6,0.0,16,1.0,40.0,0.0,0.0,5

In [7]:
df['label'].value_counts()

label
5    825939
4    262690
0    197809
3    138777
1     15143
6      3915
2       357
Name: count, dtype: int64

In [8]:
DT = DecisionTreeClassifier()

In [9]:
print(df.columns)

Index(['ts', 'uid', 'id.orig_h', 'id.orig_p', 'id.resp_h', 'id.resp_p',
       'proto', 'duration', 'orig_bytes', 'resp_bytes', 'conn_state',
       'missed_bytes', 'history', 'orig_pkts', 'orig_ip_bytes', 'resp_pkts',
       'resp_ip_bytes', 'label'],
      dtype='object')

In [10]:
X = df[['ts', 'uid', 'id.orig_h', 'id.orig_p', 'id.resp_h', 'id.resp_p',
       'proto',  'duration', 'orig_bytes', 'resp_bytes',
       'conn_state', 'missed_bytes', 'history',
       'orig_pkts', 'orig_ip_bytes', 'resp_pkts', 'resp_ip_bytes']]
Y = df['label']
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, random_state=10, test_size=0.2)

In [11]:
start = time.time()
DT.fit(X_train, Y_train)
print('------')
print('prediction:')
y_pred = DT.predict(X_test)
print(y_pred)
print('------')
print('Score:')
score = DT.score(X_test,Y_test)
print(score)
end = time.time()
print('------')
print('time cost: ')
print(end - start, 'seconds')

program start...


prediction:
[5 3 0 ... 5 0 5]

Score:
0.9307504343672774
program end...

time cost:
17.25736951828003 seconds

In [12]:
import warnings
warnings.filterwarnings('ignore')

In [13]:
print("Classifiction Report :")
print(classification_report(Y_test, y_pred))

Classifiction Report :
              precision    recall  f1-score   support

           0       0.95      0.81      0.87     39702
           1       1.00      0.32      0.48      3067
           2       0.90      0.36      0.51        72
           3       1.00      0.82      0.90     27664
           4       1.00      0.90      0.95     52343
           5       0.90      1.00      0.95    165279
           6       0.98      0.98      0.98       799

    accuracy                           0.93    288926
   macro avg       0.96      0.74      0.81    288926
weighted avg       0.94      0.93      0.93    288926