In [3]:
import pandas as pd
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import classification_report, confusion_matrix
from sklearn.model_selection import train_test_split
import time
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from xgboost import XGBClassifier
from sklearn import metrics
import warnings

In [4]:
filepath = 'iot23_18column.csv'

In [5]:
df = pd.read_csv(filepath)

In [6]:
df

,Unnamed: 0,ts,uid,id.orig_h,id.orig_p,id.resp_h,id.resp_p,proto,duration,orig_bytes,resp_bytes,conn_state,missed_bytes,history,orig_pkts,orig_ip_bytes,resp_pkts,resp_ip_bytes,label
0,0,2,317928,1360,60905.0,127613,23.0,1,2.998796,0.0,0.0,6,0.0,16,3.0,180.0,0.0,0.0,5
1,1,3,456812,1360,44301.0,1061392,23.0,1,NaN,NaN,NaN,6,0.0,16,1.0,60.0,0.0,0.0,5
2,2,4,517496,1360,50244.0,83457,23.0,1,NaN,NaN,NaN,6,0.0,16,1.0,60.0,0.0,0.0,5
3,3,6,961436,1360,34243.0,205149,49560.0,1,2.998804,0.0,0.0,6,0.0,16,3.0,180.0,0.0,0.0,0
4,4,7,174466,1360,34840.0,195147,21288.0,1,NaN,NaN,NaN,6,0.0,16,1.0,60.0,0.0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1444625,99994,399991,528199,1362,41762.0,726752,23.0,1,NaN,NaN,NaN,6,0.0,16,1.0,40.0,0.0,0.0,5
1444626,99995,399992,1347706,1362,58758.0,608725,23.0,1,NaN,NaN,NaN,6,0.0,16,1.0,40.0,0.0,0.0,5
1444627,99996,399993,282742,1362,40400.0,802205,23.0,1,NaN,NaN,NaN,6,0.0,16,1.0,40.0,0.0,0.0,5
1444628,99997,399994,99987,1362,27117.0,95351,23.0,1,NaN,NaN,NaN,6,0.0,16,1.0,40.0,0.0,0.0,5
1444629,99998,399995,104339,1362,23227.0,439275,23.0,1,NaN,NaN,NaN,6,0.0,16,1.0,40.0,0.0,0.0,5

In [7]:
del df['Unnamed: 0']

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1444630 entries, 0 to 1444629
Data columns (total 18 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   ts             1444630 non-null  int64
 1   uid            1444630 non-null  int64
 2   id.orig_h      1444630 non-null  int64
 3   id.orig_p      1444630 non-null  float64
 4   id.resp_h      1444630 non-null  int64
 5   id.resp_p      1444630 non-null  float64
 6   proto          1444630 non-null  int64
 7   duration       544530 non-null   float64
 8   orig_bytes     544530 non-null   float64
 9   resp_bytes     544530 non-null   float64
 10  conn_state     1444630 non-null  int64
 11  missed_bytes   1444630 non-null  float64
 12  history        1444630 non-null  int64
 13  orig_pkts      1444630 non-null  float64
 14  orig_ip_bytes  1444630 non-null  float64
 15  resp_pkts      1444630 non-null  float64
 16  resp_ip_bytes  1444630 non-null  float64
 17  label          1444630 non-null  int64
dtypes: float64(10), int64(8)
memory usage: 198.4 MB

In [9]:
xgb = XGBClassifier()

In [10]:
X = df[['ts', 'uid', 'id.orig_h', 'id.orig_p', 'id.resp_h', 'id.resp_p',
       'proto','duration', 'orig_bytes', 'resp_bytes',
       'conn_state', 'missed_bytes', 'history',
       'orig_pkts', 'orig_ip_bytes', 'resp_pkts', 'resp_ip_bytes']]
Y = df['label']
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, random_state=10, test_size=0.3)

In [11]:

model = xgb.fit(X_train, Y_train)

y_pred = model.predict(X_test)

In [12]:
warnings.filterwarnings('ignore')

In [13]:
print("Classifiction Report :")
print(classification_report(Y_test, y_pred))

Classifiction Report :
              precision    recall  f1-score   support

           0       1.00      1.00      1.00     59452
           1       1.00      1.00      1.00      4529
           2       1.00      1.00      1.00       104
           3       1.00      1.00      1.00     41555
           4       1.00      1.00      1.00     78662
           5       1.00      1.00      1.00    247885
           6       1.00      1.00      1.00      1202

    accuracy                           1.00    433389
   macro avg       1.00      1.00      1.00    433389
weighted avg       1.00      1.00      1.00    433389